body {
  margin: 1em 2em;
  // background: #1F033D;
}

h1,
h3 {
  color: #555;
  margin: 0.3em;
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
}

h3 {
  padding-bottom: 0.8em;
}

body,
text {
  font-family: 'Avenir', sans-serif;
}

.tooltip {
  position: fixed;
  max-width: 200px;
  padding: 0.5em 1em;
  color: #fff;
  background: #555;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #bbb;
  pointer-events: none;
  opacity: 0;
}

.tip-table {
  border-collapse: collapse;
}

tr {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}

tr:last-of-type {
  border-bottom: none;
}

td:first-of-type {
  padding: 0 0.5em;
}

td {
  vertical-align: baseline;
}

text {
  pointer-events: none;
}


#treemap-container {
  //background: lightgray;
  margin: 100px 55px;
  /*width: 100%;*/
  /*height: 100%;*/
}

#treemap-container svg {
 // transform: rotate3d(1, 4, 1, 15deg);
}

rect {
  // stroke: red;
  fill: none;
  stroke-width: 2px;
}





text {
  pointer-events: none;
}
.root-level text {
  font-weight: bold;
}
rect {
  fill: none;
  stroke: #fff;
}
rect.parent,
.root-level rect {
  stroke-width: 2px;
}
.root-level rect {
  fill: orange;
}
.root-level:hover rect {
  fill: #ee9700;
}
.children rect.parent,
.root-level rect {
  cursor: pointer;
}
.children rect.parent {
  fill: #bbb;
  fill-opacity: 0.5;
}
.children:hover rect.child {
  fill: #bbb;
}

